.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 12px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.login-username,
.login-password {
  padding: 10px;
}

.click {
  padding: 10px;
  cursor: pointer;
}