:root {
    --border-color: black;   
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border:1px solid var(--border-color);
    padding:20px;
    border-radius: 10px;
    margin:5px;
}

.btn-div {
    display:flex;
    align-content: stretch;
    margin-top:10px;
}

.counter {
    font-size: 2rem;
    width:50px;
    margin-left:10px;
    
}

 /* inventory styles */

 .item-container {
    margin-top:10px;
 }

 .item {
    margin:10px;
    padding:10px;
    border:1px solid black;
    cursor: pointer;
 }

 .item:hover {
    border-width: 2px;
 }

 .inventory {
    border:1px solid purple;
    border-radius: 10px;
    padding:10px;
    height:300px;
    overflow:auto;
 }
